/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 4, 2020, 10:36:23 AM
    Author     : User
*/


.line-one {
    -fx-border-color: orangered;
    -fx-border-width: 5;
}

.line-two {
    -fx-border-color: #ffdd34;
    -fx-border-width: 5;
}

.line-three {
    -fx-border-color: #50db3d;
    -fx-border-width: 5;
}

.line-four {
    -fx-border-color: cornflowerblue;
    -fx-border-width: 5;
}

.line-five {
    -fx-border-color: violet;
    -fx-border-width: 5;
}